/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

/* Common Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #F4F6FB;
}

/* Header Section Start*/
#header_section {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

#logo {
    font-size: 22px;
    font-weight: 600;
    margin-right: 40px;
    letter-spacing: 0.3px;
}

#logo a {
    color: #118ac5;
    text-decoration: none;
}

.left_header {
    display: flex;
    margin-left: 100px;
}

#nav_menu {
    display: flex;
    list-style: none;

}

#nav_menu li {
    margin-right: 27px;
}

#nav_menu li a {
    text-decoration: none;
    color: #121212;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    transition: all ease 0.5s;
}

#nav_menu li a:hover {
    color: #118AC5;
}

.right_header {
    margin-right: 50px;
}

.right_header button:first-child {
    color: #fff;
    font-size: 16px;
    border: none;
    background: transparent;
    padding: 9px 15px;
    margin-right: 11px;
    border-radius: 10px;
    box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.1);
    transition: all ease 0.5s;
    cursor: pointer;
}

.right_header button:first-child:hover {
    background: #00000098;
}

.right_header button:last-child {
    color: #528EAA;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: #DBEDFB;
    padding: 9px 15px;
    box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
    cursor: pointer;
}

.right_header button:last-child:hover {
    background: #dbedfb85;
}

.right_header a:hover {
    color: #fff;
    background: #1189c5b0;
}

/* Header Section End*/

/* Hero Section Start */
#hero_section {
    display: flex;
    justify-content: space-between;
}

#hero_left {
    margin: 250px 100px;
    margin-bottom: 0;
    width: 596px;
}

.left_text_area h6 {
    color: #118AC5;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.left_text_area h6 span {
    opacity: 0.7;
}

.left_text_area h3 {
    color: #121212;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: -2px;
}

.left_text_area p {
    color: #2F2F2F;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
    opacity: 0.7;
}

.left_button_area {
    display: flex;
    align-items: center;
}

#order_now_btn {
    width: 200px;
    height: 65px;
    border: none;
    cursor: pointer;
    margin-right: 30px;
    border-radius: 30px;
    background: #FFBA18;
    color: #404040;
    font-size: 16px;
    transition: all ease 0.5s;
}

#order_now_btn:hover {
    background: rgba(218, 204, 11, 0.747)
}

#watch_demo_btn {
    border: none;
    outline: none;
    background: transparent;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

#watch_demo_btn span {
    color: #2F2F2F;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    letter-spacing: 0.5px;
}

#hero_right {
    width: 520px;
}

.container_hero {
    height: 100%;
    position: relative;
}

.container_hero::before {
    top: -100px;
    content: "";
    position: absolute;
    background: #80C1EF;
    border-radius: 0 0px 0 134px;
    width: 100%;
    height: 860px;
    z-index: -1;
}

.hero_right_box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #FFF;
    gap: 13px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.hero_right_box1 {
    position: absolute;
    bottom: 155px;
    left: -140px;
    width: 231px;
    height: 95px;
}

.hero_right_box_img img {
    width: 40px;
}

.hero_right_box_text h4 {
    color: #373737;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.hero_right_box_text p {
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    opacity: 0.7;
}

/* Hero Section End */

/* About Us Section Start */

#about_us_section {
    background: #fff;
    padding: 120px 0 120px 150px;
    position: relative;
    display: flex;
}

.about_left {
    position: relative;
}

.about_left img:nth-child(1) {
    position: relative;
}

.about_left img:nth-child(2) {
    position: absolute;
    left: -90px;
    top: 85px;
    outline: 10px #fff solid;
    border-radius: 5px;
}

.about_left img:nth-child(3) {
    position: absolute;
    top: 323px;
    left: 390px;
    outline: 10px #fff solid;
    border-radius: 5px;
}

.about_right {
    margin-left: 130px;
}

.about_right h2 {
    color: #282A2E;
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0.3px;
}

.about_right p {
    color: #2F2F2F;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin: 20px 0;
}

.about_box {
    margin: 40px 0;
}

.about_box h3 {
    display: flex;
    align-items: center;
    color: #282A2E;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.about_box h3 i {
    font-size: 30px;
    margin-right: 15px;
}

.about_box p {
    width: 427px;
    color: #2F2F2F;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7;
    letter-spacing: 0.5px;
    margin-left: 45px;
}

/* About Us Section End */

#services_section {
    padding: 100px 0 120px 100px;
}

.services_top {
    display: flex;
}

.services_top h3 {
    color: #000;
    font-size: 54px;
    width: 586px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0.3px;
}

.services_top_right_box h4 {
    color: #FE7443;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.3px;
}

.services_top_right_box p {
    color: #333539;
    width: 579px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.3px;
}

.services_bottom {
    display: flex;
}

.services_bottom_box {
    margin-top: 75px;
    margin-right: 15px;
    background: #F4F6FB;
    width: 284px;
    height: 341px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
}

.services_bottom_box:nth-child(1) {
    box-shadow: 0px 4px 90px 0px rgba(0, 0, 0, 0.15);
}

.services_bottom_box img {
    width: 55px;
    height: 57.697px;
    margin: 30px 0 40px 0;
}

.services_bottom_box h4 {
    color: #343434;
    margin-bottom: 35px;
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.3px;
}

.services_bottom_box p {
    color: #333539;
    width: 205px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.3px;
    opacity: 0.7;
}

/* Our Team Section Start*/
#our_team_section {
    background: #fff;
}

#our_team_top {
    display: flex;
    padding: 100px 0 120px 100px;
}

#our_team_top h4 {
    color: #121212;
    font-size: 48px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0.3px;
}

.team_top_right {
    margin-left: 150px;
}

.team_top_right p {
    color: #404852;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 520px;
    letter-spacing: 0.3px;
    margin-bottom: 8px;
}

.team_top_right a {
    color: #118AC5;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.346px;
    text-decoration: none;
}

#our_team_bottom {
    display: flex;
    justify-content: space-between;
}

.bottom_box_container {
    position: relative;
}

.our_team_bottom_box_text {
    position: absolute;
    bottom: 0;
    width: 125px;
    height: 60px;
    border-top-right-radius: 5px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.our_team_bottom_box_text h5 {
    color: #FE7443;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.our_team_bottom_box_text p {
    color: #9395A0;
    font-family: Mulish;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

/* Our Team Section End*/

/* Package Section Start */
#package_section {
    padding: 100px 0 120px 85px;
    background: #fff;
}

.package_top {
    display: flex;
}

.package_top h4 {
    color: #334047;
    font-size: 54px;
    width: 585px;
    font-weight: 600;
    line-height: 64px;
}

.package_top_right h5 {
    color: #FE7443;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.package_top_right p {
    color: #45565F;
    font-size: 18px;
    width: 482px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.3px;
}

.package_bottom {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
}

.package_item {
    width: 380px;
    height: 100%;
    padding: 40px;
    border-radius: 32px;
    background: #CAE8FD;
}

.package_price {
    color: #5A717C;
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.package_price span {
    color: #2484B1;
    font-family: Poppins;
    font-size: 54px;
    font-weight: 600;
}

.package_item h5 {
    color: #334047;
    font-family: Sora;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
}

.package_item p {
    color: #45565F;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    width: 316px;
    margin-bottom: 25px;
}

.package_item ul li {
    margin-bottom: 15px;
    color: #334047;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    list-style: none;
}

.package_item ul li::before {
    content: "\2022";
    color: #2484B1;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.package_btn {
    padding: 14px 30px;
    border-radius: 28.5px;
    border: 1.5px solid rgba(255, 186, 24, 0.42);
    background: #FFBA18;
    color: #0C0C0C;
    font-size: 17px;
    font-weight: 400;
    margin: 10px 35px;
    letter-spacing: 0.3px;
    cursor: pointer;
}

.package_btn:hover {
    background: rgba(233, 120, 15, 0.986);
    transition: all ease 0.5s;
}

.package_item:nth-child(2) {
    background: #FAFAFA;
    box-shadow: 0px 4px 65px 0px rgba(0, 0, 0, 0.15);
}

.package_item:nth-child(3) {
    background: #FAFAFA;
    box-shadow: 0px 4px 65px 0px rgba(0, 0, 0, 0.15);
}

/* Package Section End */

/* Testimonials Section Start */

#testimonials_section {
    padding: 100px 0 120px 85px;
    background: #fff;
}

.testimonials_top {
    display: flex;
    margin-bottom: 70px;
}

.testimonials_top h4 {
    color: #334047;
    font-size: 54px;
    width: 585px;
    font-weight: 600;
    line-height: 64px;
}

.testimonials_top_right h5 {
    color: #FE7443;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.testimonials_top_right p {
    color: #45565F;
    font-size: 18px;
    width: 482px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.3px;
}

.testimonials_bottom {
    display: flex;
    justify-content: space-evenly;
}

.testimonials_box {
    width: 380px;
    height: 100%;
    padding: 30px;
    border-radius: 32px;
    background: #F4F6FB;
}

.testimonials_box:nth-child(2) {
    background: #fff;
}

.testimonials_box:last-child {
    margin-right: 40px;
}

.person_info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.person_info_text {
    margin-left: 10px;
}

.person_info_text h5 {
    color: #334047;
    font-family: Sora;
    font-size: 20px;
    font-weight: 600;
}

.person_info_text p {
    color: #5A717C;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.testimonials_ratings i {
    font-size: 24px;
    margin: 15px 0;
    margin-right: 6px;
}

.person_des p {
    color: #45565F;
    font-family: Poppins;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 32px;
}

/* Testimonials Section End */